!!! 5
%html
  %head
    %title= 'RorBooks'
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "flexigrid"
    = javascript_include_tag "application"
    = javascript_include_tag "flexigrid"
    = csrf_meta_tags
  %body
    = yield
